@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

//STYLEGUIDE

$primary-red: hsl(0, 78%, 62%);
$primary-cyan: hsl(180, 62%, 55%);
$primary-orange: hsl(34, 97%, 64%);
$primary-blue: hsl(212, 86%, 64%);

$neutral-primary: hsl(234, 12%, 34%);
$neutral-secondary: hsl(229, 6%, 66%);
$neutral-tertiary: hsl(0, 0%, 98%);

$shadow: 0 1rem 2rem rgba($neutral-primary, 0.2);
